# Logs
*.log

# Virtual environments
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDE/editor folders
.idea/
.vscode/

# Environment variables
.env

# Database config if sensitive
db/database.ini

# Bytecode cache
.pytest_cache/